* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.section__title {
  color: #c0660c;
  font-family: "Pacifico", cursive;
}
.section__line {
  background-color: #c0660c;
}

nav {
  z-index: 5;
}

.navbar-logo {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

.home {
  height: 80vh;
  background: rgba(0, 0, 0, 1);
  background-image: linear-gradient(
      317deg,
      rgba(66, 66, 66, 0.4) 0%,
      rgba(3, 3, 3, 0.6) 100%
    ),
    url(../images/landscape.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__button {
    font-size: 1.8rem;
    // font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &__text {
    font-size: 1.8rem;
  }
  &__title {
    font-family: "Pacifico", cursive;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
  }
}


.about {
  min-height: 100vh;
  padding: 4rem 0;
  &__title {
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__icon {
    font-size: 3rem;
  }
}

.card {
  &__btn {
  font-size: 1.8rem;
  color: rgb(29, 29, 29);
  text-decoration: none;
  }
  &__btn:hover {
    color: rgb(29, 29, 29);
  }
}

.team {
  background-color: #f0f0f0;
&__img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}
}

.team h5 {
  font-weight: 700;
}

.contact {
  &__business {
    font-family: "Pacifico", cursive;
  }
  &__submit {
    font-size: 1.8rem;
    // font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &__title-wrapper {
    flex: 1 1 100%;
  }
}

.form-control {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .contact {
    align-items: stretch;
    &__address-wrapper {
      flex: 1 1 40%;
    }
    &__form-wrapper {
      flex: 1 1 60%;
    }
  }
}