* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.navbar-logo {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

header {
  height: 50vh;
  background: rgba(0, 0, 0, 1);
  background-image: linear-gradient(
      317deg,
      rgba(66, 66, 66, 0.4) 0%,
      rgba(3, 3, 3, 0.6) 100%
    ),
    url(../images/landscape.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home h1 {
  font-family: "Pacifico", cursive;
}

#home p {
  font-size: 1.8rem;
}
#home a {
  font-size: 1.6rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.about {
  min-height: 100vh;
  padding: 4rem 0;
  &__title {
    font-size: 2.4rem;
    text-transform: uppercase;
  }
  &__icon {
    font-size: 3rem;
  }
}
.card-header {
  background-color: rgb(240, 240, 240);
}
.card-header button {
  font-size: 1.8rem;
  color: rgb(29, 29, 29);
  text-decoration: none;
}

.card-header button:hover {
  color: rgb(29, 29, 29);
  text-decoration: none;
}

.section__title {
  color: #c0660c;
  font-family: "Pacifico", cursive;
}
.section__line {
  background-color: #c0660c;
}

#team {
  background-color: #F0F0F0;
  padding: 2rem 0;
  
}

#team img {
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.team__hero {
  padding: 3rem 0;
}

h5 {
  font-weight: 700;
}

.collapse__wrapper{
  padding: 2rem 0;
}